body {
  background-color: white;
}

.timer {
  font-size: 4em;
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.timeField {
  display: flex;
  justify-content: center;
}

.timeForm {
  text-align: center;
}
