html, body {
  height: 100%;
}

body {
  background-color: white;
  overflow: hidden;
}

.flexContainer{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.timeButtons {
  order: -1;
}

.funcButtons {

}

.timeField {
  justify-content: center;
}

.pauseOverlay {
  width: 100%;
  transform: translateY(150%);
  position: absolute;
  text-align: center;
  z-index: 10;
}

.timeForm {
  font-size: 4em;
  text-align: center;
  border: none;
  background: transparent;
}
