html, body {
  height: 100%;
}

body {
  background-color: white;
}

.flexContainer{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.timer {
  font-size: 4em;
  justify-content: center;
  align-self: center;
}

.timeButtons {
  order: -1;
}

.funcButtons {

}

.timeField {
  justify-content: center;
}

.timeForm {
  text-align: center;
  border: none;
  background: transparent;
}
